[Unit]
Description=Zigbee2MQTT data directory (persistent)
Requires=mnt-data.mount
After=mnt-data.mount
Before=zigbee2mqtt.service

[Mount]
What=/mnt/data/zigbee2mqtt
Where=/opt/zigbee2mqtt/data
Type=None
Options=bind

[Install]
WantedBy=os-bind.target
