[Unit]
Description=NetworkManager persistent system connections
Requires=mnt-overlay.mount
After=mnt-overlay.mount os-overlay.service
Before=NetworkManager.service os-config.service

[Mount]
What=/mnt/overlay/etc/NetworkManager/system-connections
Where=/etc/NetworkManager/system-connections
Type=None
Options=bind

[Install]
WantedBy=os-bind.target
