[Unit]
Description=Ensure rauc.db contains version information
After=rauc.service
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
ExecStart=/usr/libexec/raucdb-update

[Install]
WantedBy=multi-user.target
