[Unit]
Description=Create tmp zram
DefaultDependencies=no
Before=local-fs.target
After=systemd-modules-load.service
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/os-zram -t fs -m tmp -s 16M

[Install]
WantedBy=os-zram.target
