[Unit]
Description=Create var zram
DefaultDependencies=no
Before=local-fs.target
After=systemd-modules-load.service zram-tmp.service
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/os-zram -t fs -m var -s 32M

[Install]
WantedBy=os-zram.target
