[Unit]
Description=Thirdreality USB auto sync Service
After=basic.target mnt-media.mount
Requires=mnt-media.mount

[Service]
Type=simple
ExecStart=/usr/local/bin/hubv3-usb-sync.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hubv3-usb-sync
Restart=no
User=root

[Install]
WantedBy=multi-user.target
